* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

.header-menu {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 60px;
  background-color: #7671d5;
}

.header-menu nav {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.lista-menu {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
  align-items: center;
}

.lista-menu li > a {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: inherit;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lista-menu li > a:hover {
  font-size: 28px;
  color: rgb(231, 231, 231);
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.principal {
  height: 100vh;
  display: flex;
  background-color: #eaeaea;
}

.subcontainer-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nome-completo {
  font-size: 36px;
  color: rgb(140, 35, 197);
  font-weight: 700;
  height: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.texto-sobre {
  font-size: 20px;
  line-height: 32px;
}

.profissao {
  color: #706f6f;
  height: 60px;
}

.topico-principal {
  font-size: 30px;
  color: rgb(35, 34, 34);
}

.lista-item {
  padding: 32px;
}

.lista-item ul li {
  margin-bottom: 32px;
}

.lista-titulo {
  margin-bottom: 5px;
  font-size: 22px;
  color: #11559a;
  font-weight: 700;
}

.lista-local {
  font-size: 19px;
  color: rgb(21, 127, 234);
}

.lista-descricao {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 20px;
  color: #5a5a5a;
  font-weight: 400;
}

.wrapper-portfolio {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}

.article-lista {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}

.footer {
  background-color: #7671d5;
  display: flex;
  align-items: center;
  height: 30vh;
}

.lista-footer li {
  color: #fff;
  font-weight: 800;
  font-size: 19px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.estilo-icon {
  font-size: 22px;
  margin-right: 10px;
}

.links {
  color: #fff;
  text-decoration: none;
}

.minhafoto {
  width: 190px;
}

.logo-js {
  width: 83px;
}

.logo-css {
  width: 95px;
}

.logo-react {
  width: 100px;
}

.logo-nodejs {
  width: 98px;
}

.logo-angular {
  width: 105px;
}
.soft-skills li {
  display: inline-block;
  text-align: center;
  width: 40%;
  vertical-align: top;
  margin: 0 1.5%; /* Espaçamento externo */
  padding: 30px 20px; /* Espaçamento interno */
  box-sizing: border-box;
  border-color: #eaeaea00;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.descricao {
  text-align: left;
  color: #706f6f;
}
.button1 {
  padding: 10px 25px;
  width: 50px;
  color: #fff;
  background: #7419a1;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  text-decoration: inherit;
}

.button1:hover {
  background-color: #ed48f0;
  transition: background-color 1s;
  padding: 12px 27px;
}
.button2 {
  padding: 10px 25px;
  width: 50px;
  color: #fff;
  background: #7419a1;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  text-decoration: inherit;
}

.button2:hover {
  background-color: #ed48f0;
  transition: background-color 1s;
  padding: 12px 27px;
}

.titulo-projeto {
  margin-left: 90px;
  font-size: 22px;
  color: #000000d4;
}

.projeto1 {
  margin-right: 1000px;
  width: 300px;
}

.projeto2 {
  margin-right: 1000px;
}
